@keyframes wave-pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  65% {
    transform: scale(0.8);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes alpha-pulse {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swipe-dot {
  0% {
    right: 0;
  }
  60% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes swipe-alpha {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes card-flip {
  0% {
    transform: perspective(100em) rotateY(0);
  }
  5% {
    transform: perspective(100em) rotateY(-10deg);
  }
  15% {
    transform: perspective(100em) rotateY(2deg);
  }
  20% {
    transform: perspective(100em) rotateY(0);
  }
  100% {
    transform: perspective(100em) rotateY(0);
  }
}