<template>
  <div
    v-bind:class="['product-card--' + layout]"
    class="product-card product-card--blank">
    <div class="icon"></div>
    <div class="message">
      Out of stock
    </div>
  </div>
</template>

<script>
// import $ from 'jquery'

export default {
  name: 'ProductCardBlank',
  props: {
    layout: String
  },
  data () {
    return {}
  },
  created: function () {
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
  .product-card {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    .icon {
      ///margin: 180px 40px 0;
          margin: 0 auto;
      position: relative;
      width: 90% !important;
      height:90%;
      max-width: 220px !important;
      min-width: 160px !important;
      max-height: 220px !important;
      min-height: 160px !important;

      border: 8px solid $white;
      border-radius: 50%;
      opacity: 0.1;

      &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 100%;

        background: $white;
        content: '';
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }
    }

    .message {
      margin: 35px 0 0;

      opacity: 0.5;

      font: 0.55em/1.1 var(--font-light);
      letter-spacing: 0.25em;
      text-align: center;
      text-transform: uppercase;

      @at-root .app--tablet & {
        font-family: var(--font-bold);
      }
    }

    &--full {
      background: rgba($white, 0.05);
      border-radius: 30px;
    }
  }
</style>
