<template>
  <div id="screen-cart" class="screen screen--cart" style="opacity: 0;">
    <h1 class="screen__title">
      My Cart
    </h1>

    <div class="cart">
      <div class="cart__products">
        <div
          v-if="cart.length > 0"
          v-for="(line, index) in cart"
          v-bind:key="index"
          class="cart__product">
            <div class="cart__product__separator  cart__product__separator--top"></div>

            <router-link :to="{ name: 'product', params: { id: line.product.id }}">
              <product-image
                v-bind:image="line.product.thumb_image"
                v-bind:category="line.product.catalog_category.name" />
            </router-link>

            <div class="cart__product__info">
              <div class="cart__product__name">
                {{ line.product.name }}
              </div><!-- .cart__product__name -->

              <div class="cart__product__selection">
                {{ line.qty }} x {{ line.price.name }}
              </div><!-- .cart__product__selection -->

              <div class="cart__product__price">
                {{ line.qty * line.price.basePrice | formatPrice }}
              </div><!-- .cart__product__selection -->

              <button
                v-on:click="toggleLine(index)"
                v-bind:class="{'cart__product__edit-link--is-visible': openedLines.indexOf(index) === -1}"
                type="button"
                class="cart__product__edit-link">
                Edit
              </button>

              <form
                v-bind:class="{'cart__product__edit-form--is-visible': openedLines.indexOf(index) > -1}"
                class="cart__product__edit-form">
                <div class="cart__product__edit-form__values">
                  <label
                    v-for="price in line.product.product_values"
                    v-bind:key="price.id"
                    v-bind:class="{ 'cart__product__edit-form__value--is-active': line.price === price }"
                    class="cart__product__edit-form__value">
                    <input type="radio" v-bind:value="price" v-model="line.price" />

                    <div class="cart__product__edit-form__value__button">
                      <div class="cart__product__edit-form__value__price">
                        {{ price.value | taxAdded(line.product) | formatPrice }}
                      </div>
                      <div class="cart__product__edit-form__value__name">
                        {{ price.name}}
                      </div>
                    </div>
                  </label>
                </div><!-- .cart__product__edit-form__values -->

                <div class="cart__product__edit-form__quantity">
                  <button
                    v-on:click="line.qty = Math.max(0, line.qty - 1)"
                    v-bind:style="{ opacity: (line.qty === 0 ? '0.2' : '') }"
                    type="button"
                    class="cart__product__edit-form__quantity__button cart__product__edit-form__quantity__button--minus">
                    -
                  </button>

                  <input type="text" v-model="line.qty" class="cart__product__edit-form__quantity__field" />

                  <button
                    v-on:click="line.qty = Math.min(line.maxQty, line.qty + 1)"
                    v-bind:style="{ opacity: (line.qty === line.maxQty ? '0.2' : '') }"
                    type="button"
                    class="cart__product__edit-form__quantity__button cart__product__edit-form__quantity__button--plus">
                    +
                  </button>
                </div><!-- .cart__product__edit-form__quantity -->

                <button
                  v-on:click="toggleLine(index)"
                  type="button"
                  class="cart__product__edit-form__close">
                  Done
                </button>
              </form><!-- .cart__product__edit-form -->
            </div><!-- .cart__product__info -->

            <div class="cart__product__separator  cart__product__separator--bottom"></div>
        </div><!-- .cart__product -->

        <div
          v-if="cart.length === 0"
          class="cart__empty">
          Your cart is empty.
        </div>
      </div><!-- .cart__products -->

      <div v-if="cart.length > 0" class="cart__footer">
          <div v-if="(cartTotal - subTotal) > 0" class="cart__total">
          <div class="cart__total__title">
            <div class="cart__total__title__text">
              Subtotal
            </div><!-- .cart__total__title__text -->
            <div class="cart__total__title__line"></div>
          </div><!-- .cart__total__title -->

          <div class="cart__total__value">
            {{ subTotal | formatPrice }}
          </div><!-- .cart__total__value -->

          <div v-if="!$config.DISABLE_TAX_MESSAGE" class="cart__total__tax">
            Prices do not include tax
          </div><!-- .cart__total__tax -->
        </div><!-- .cart__total -->
        <div v-if="(cartTotal - subTotal) > 0" class="cart__total">
          <div class="cart__total__title">
            <div class="cart__total__title__text">
              TAXES
            </div><!-- .cart__total__title__text -->
            <div class="cart__total__title__line"></div>
          </div><!-- .cart__total__title -->

          <div class="cart__total__value">
            {{ cartTotal - subTotal | formatPrice }}
          </div><!-- .cart__total__value -->

          <div v-if="!$config.DISABLE_TAX_MESSAGE" class="cart__total__tax">
            Prices do not include tax
          </div><!-- .cart__total__tax -->
        </div><!-- .cart__total -->
        <div class="cart__total">
          <div class="cart__total__title">
            <div class="cart__total__title__text">
              Total
            </div><!-- .cart__total__title__text -->
            <div class="cart__total__title__line"></div>
          </div><!-- .cart__total__title -->

          <div class="cart__total__value">
            {{ cartTotal | formatPrice }}
          </div><!-- .cart__total__value -->

          <div v-if="!$config.DISABLE_TAX_MESSAGE" class="cart__total__tax">
            Prices do not include tax
          </div><!-- .cart__total__tax -->
        </div><!-- .cart__total -->

          <div class="cart__has-promo" v-if="hasPromo==true">
             {{$config.ON_SALE_TEXT}}
          </div>

        <div class="cart__actions">

          <div class="cart__actions__separator"></div>

          <div v-on:click="showResetModal = true" class="cart__action cart__action--back">
            <div class="cart__action__text">
              Reset Cart
            </div><!-- .cart__action__text -->
            <div class="cart__action__background"></div>
          </div>

          <button
            v-on:click="checkCart"
            :class="{ 'checkout__button--offline': isOffline}"
            class="cart__action cart__action--checkout">
            <div class="cart__action__text">
              {{ !isOffline? 'Checkout':'offline'}}
            </div><!-- .cart__action__text -->
            <div class="cart__action__background checkout__button__background"></div>
          </button>

        </div><!-- .cart__actions -->
      </div><!-- .cart__footer -->
    </div><!-- .cart -->

    <portal to="modal-container" v-if="showResetModal">
      <modal-template class="modal--hide-close modal--small" key="reset-modal">
        <div class="reset-modal">
          <h2 class="reset-modal__title">
            Reset Cart
          </h2>

          <div class="reset-modal__text">
            This will empty your cart and redirect you to home screen.<br/>
            Do you want to continue?
          </div>

          <div class="reset-modal__actions">
            <div
              v-on:click="showResetModal = false"
              class="reset-modal__button reset-modal__button--back">
              <div class="reset-modal__button__text">
                Continue session
              </div>
              <div class="reset-modal__button__background"></div>
            </div><!-- .reset-modal__button -->

            <div
              v-on:click="resetSession"
              class="reset-modal__button">
              <div class="reset-modal__button__text">
                Start over
              </div>
              <div class="reset-modal__button__background"></div>
            </div><!-- .reset-modal__button -->
          </div><!-- .reset-modal__actions -->
        </div><!-- .reset-modal -->
      </modal-template>
    </portal>

    <portal to="modal-container" v-if="showErrorModal">
      <modal-template class="modal--hide-close modal--small" key="error-modal">
        <div class="error-modal">
          <h2 class="error-modal__title">
            Sorry
          </h2>

          <div class="error-modal__text">
            {{ errorMessage }}
          </div>

          <div class="error-modal__actions">
            <div
              v-on:click="showErrorModal = false"
              class="error-modal__button">
              <div class="error-modal__button__text">
                Got it
              </div>
              <div class="error-modal__button__background"></div>
            </div><!-- .error-modal__button -->
          </div><!-- .error-modal__actions -->
        </div><!-- .error-modal -->
      </modal-template>
    </portal>
  </div><!-- .screen -->
</template>

<script>
import ModalTemplate from '@/components/ModalTemplate'
import { Portal, PortalTarget } from 'portal-vue'
import ProductImage from '@/components/ProductImage'
import { TimelineLite, Linear, Power2, Power3 } from 'gsap/all'
import $ from 'jquery'
import { mapState } from 'vuex'
export default {
  name: 'ScreenCart',
  components: {
    ModalTemplate,
    Portal,
    PortalTarget,
    ProductImage
  },
  props: ['cart', 'cartTotal', 'isOffline', 'products'],
  data () {
    return {
      errorMessage: null,
      openedLines: [],
      showErrorModal: false,
      showResetModal: false,
      hasPromo: false
    }
  },
  computed: {
    ...mapState(['connected']),
    subTotal: function () {
      let subtotal = 0
      this.cart.forEach(line => {
        let catalogProduct = this.products.find(
          element => element.id === line.product.id
        )
        line.maxQty = catalogProduct.stock
        if (line.price) {
          subtotal += parseFloat(line.price.basePrice) * line.qty
        }
      })
      return subtotal
    }
  },
  watch: {
    cart: function (newCart, oldCart) {
      // show current cart and old cart when updated
      console.log(
        '%c OLD CART %o',
        'background-color:#000;color:white;',
        oldCart
      )

      console.log(
        '%c NEW CART %o',
        'background-color:#000;color:white;',
        newCart
      )
    }
  },
  filters: {
    taxAdded: function (price, product) {
      let lowestTax = 0
      let categoryTaxes = product.category_taxes
      let storeTaxes = product.store_taxes
      if (categoryTaxes && categoryTaxes.length > 0) {
        lowestTax = Math.min.apply(Math, categoryTaxes.map(a => a.value))
      } else if (storeTaxes && storeTaxes.length > 0) {
        lowestTax = Math.min.apply(Math, storeTaxes.map(a => a.value))
      }
      if (lowestTax === 0) return price
      let numPrice = parseFloat(price)
      return parseFloat(numPrice + numPrice * (lowestTax / 100))
    }
  },
  created: function () {
    var self = this
    var promos = 0
    this.cart.forEach(line => {
      let catalogProduct = self.products.find(
        element => element.id === line.product.id
      )
      line.maxQty = catalogProduct.stock

      if (line.product.store_product_promotions.length > 0) {
        promos = promos + 1
      }
      console.log(
        'HAS PROMRO',
        line.product.store_product_promotions.length > 0,
        promos
      )
    })
    // set message if promo on products
    self.hasPromo = promos > 0

    // Call transition enter on next tick
    this.$nextTick(this.transitionEnter)

    // Events
    this.$on('transition-leave', this.onTransitionLeave)
  },
  destroyed: function () {
    // Events
    this.$off('transition-leave', this.onTransitionLeave)
  },
  methods: {
    /**
     * Screen transition enter
     */
    transitionEnter: function () {
      // Selectors
      var container = $(this.$el)

      // Before animation
      container.css({ opacity: '' })

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.staggerFrom(
        container.find('.screen__title, .cart__empty'),
        0.5,
        {
          alpha: 0,
          y: 30,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0
      )

      tl.staggerFrom(
        container.find('.cart__product__separator:visible').slice(0, 5),
        0.5,
        {
          scaleX: 0,
          clearProps: 'transform',
          ease: Power3.easeInOut
        },
        0.1,
        0.1
      )

      tl.staggerFrom(
        container.find('.product-image').slice(0, 5),
        0.7,
        {
          alpha: 0,
          x: -20,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0.2
      )

      tl.staggerFrom(
        container.find('.cart__product__info').slice(0, 5),
        0.5,
        {
          alpha: 0,
          clearProps: 'opacity',
          ease: Linear.easeNone
        },
        0.1,
        0.25
      )

      tl.staggerFrom(
        container.find('.cart__product__price').slice(0, 5),
        0.5,
        {
          x: -10,
          alpha: 0,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0.25
      )

      tl.from(
        container.find('.cart__total__title__text'),
        0.5,
        {
          alpha: 0,
          x: -10,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.6
      )

      tl.from(
        container.find('.cart__has-promo'),
        0.5,
        {
          alpha: 0,
          x: -10,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.6
      )

      tl.from(
        container.find('.cart__total__title__line'),
        0.5,
        {
          scaleX: 0,
          clearProps: 'transform',
          ease: Power3.easeInOut
        },
        0.6
      )

      tl.staggerFrom(
        container.find('.cart__total__value, .cart__total__tax'),
        0.5,
        {
          alpha: 0,
          x: 30,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0.7
      )

      tl.from(
        container.find('.cart__actions__separator'),
        0.5,
        {
          scaleX: 0,
          clearProps: 'transform',
          ease: Power3.easeOut
        },
        0.7
      )

      tl.staggerFrom(
        container.find('.cart__action__background'),
        0.5,
        {
          width: 0,
          clearProps: 'width',
          ease: Power2.easeInOut
        },
        0.2,
        0.7
      )

      tl.staggerFrom(
        container.find('.cart__action__text, .cart__offline-message'),
        0.5,
        {
          alpha: 0,
          y: 20,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.2,
        1
      )

      tl.call(function () {
        tl.kill()

        tl = null
        container = null
      })

      tl.play()
    },

    /**
     * Screen transition leave
     */
    onTransitionLeave: function (el, done) {
      // Selectors
      var container = $(this.$el)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.to(
        container.find('.cart__product').reverse(),
        0.5,
        {
          alpha: 0,
          y: 30,
          ease: Power3.easeIn
        },
        0
      )

      tl.to(
        container.find('.screen__title, .cart__empty'),
        0.5,
        {
          alpha: 0,
          y: 30,
          ease: Power3.easeIn
        },
        0.1
      )

      tl.staggerTo(
        container.find('.cart__footer > *').reverse(),
        0.5,
        {
          alpha: 0,
          y: 30,
          ease: Power3.easeIn
        },
        0.1,
        0
      )

      tl.call(
        function () {
          tl.kill()

          tl = null
          container = null

          done()
        },
        null,
        null,
        Math.max(1, tl.duration())
      )

      tl.play()
    },

    /**
     * Check cart
     */
    checkCart: function (e) {
      var self = this

      this.errorMessage = null

      // Format cart
      var items = []
      self.cart.forEach(function (line) {
        var item = {
          name: line.product.name,
          brand: line.product.brand ? line.product.brand.name : '',
          category: line.product.catalog_category.name,
          price: line.price.value,
          base_price: line.price.basePrice,
          product_id: line.product.id,
          product_value_id: line.price.id,
          quantity: line.qty,
          tag_list: line.product.tag_list,
          stock: line.product.stock
        }

        items.push(item)
      })

      var cart = {
        items: items
      }

      // Check order
      console.log('Checking cart', cart)
      if (self.$gsClient) {
        self.$gsClient.track('Checking cart', { items: cart.items })
      }

      self.$http
        .post('/carts/validate', {
          cart: cart
        })
        .then(function (response) {
          if (response.data.success === true) {
            self.$router.push({ name: 'checkout' })
          } else {
            self.errorMessage = response.data.message
            self.showErrorModal = true
          }
        })
        .catch(function (error) {
          // Validation error
          self.errorMessage = error.response.data.message
          self.showErrorModal = true
        })
    },

    /**
     * Delete from cart
     * @param  {Integer} index
     */
    deleteFromCart: function (index) {
      // Trigger global delete from cart event
      this.$root.$emit('delete-from-cart', index)
    },

    /**
     * Reset link
     */
    resetSession: function () {
      if (self.$gsClient) {
        self.$gsClient.track('Session ended', { reason: 'Reset Cart' })
      }
      // Reset session
      this.$root.$emit('restart-session')
    },

    /**
     * Toggle line edit form
     * @param  {Integer} index
     */
    toggleLine: function (index) {
      var self = this

      if (this.openedLines.indexOf(index) === -1) {
        // Line is not yet open, open it
        this.openedLines.push(index)
      } else {
        // Line is open, close it but leave others opened
        var newOpenedLines = []
        let line = this.openedLines[index]
        console.log('line', line)

        this.openedLines.forEach(function (newIndex) {
          if (newIndex !== index) {
            newOpenedLines.push(newIndex)
          }
        })

        this.openedLines = newOpenedLines

        this.cart.forEach(function (line, loopIndex) {
          if (loopIndex === index) {
            if (self.$gsClient) {
              self.$gsClient.track('Edit cart', {
                product_id: line.product.id,
                name: line.product.name,
                qty: line.qty,
                maxQty: line.maxQty,
                price: line.price.value
              })
            }
          }
        })

        this.cart.forEach(function (line, index) {
          // If line qty is null remove it from cart
          if (line.qty === 0) {
            self.deleteFromCart(index)
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.screen {
  display: flex;
  padding: calc(230px - 4em) 45px 0 90px;

  flex-direction: column;
  justify-content: stretch;

  &__title {
    margin: 0;

    font: 4em/1 var(--font-extralight);
  }
}

.cart {
  margin: 2.5em 0 0;
  position: relative;

  flex-grow: 1;

  &__products {
    margin: 0 -10px;
    padding: 0 30px 45px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__has-promo {
    font: 0.8em/1 var(--font-bold);
    margin: 0.8em 0px 1em;
    //opacity: 0.4;
    line-height: 1.25em;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
  }
  &__product {
    display: flex;
    padding: 30px 90px 30px 0;
    position: relative;

    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;

    &__separator {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;

      background: rgba($white, 0.3);

      &--top {
        top: 0;
      }

      &--bottom {
        display: none;
        bottom: 0;
      }
    }

    &:last-child .cart__product__separator--bottom {
      display: block;
    }

    &__name {
      margin: 10px 0 0;

      font: 1em/1.4 var(--font-extralight);
      letter-spacing: 0.05em;
    }

    &__selection {
      color: rgba($white, 0.5);
      font: 1em/1.4 var(--font-light);
    }

    &__price {
      position: absolute;
      top: 46px;
      right: 0;

      font: 0.9em/1 var(--font-extrabold);
      letter-spacing: 0.1em;

      @at-root .app--tablet & {
        font-size: 1em;
      }
    }

    &__edit-link {
      margin: 0;
      padding: 0;
      height: 0;

      background: none;
      border: none;
      overflow: hidden;
      transition-duration: 0.3s;
      transition-property: height, margin;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

      color: var(--main-color);
      font: 0.8em/1 var(--font-semibold);
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &--is-visible {
        margin-top: 0.63em;
        height: 1em;
      }
    }

    &__edit-form {
      margin: 0;
      height: 0;

      overflow: hidden;
      transition-duration: 0.3s;
      transition-property: height, margin;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

      &__values {
        display: flex;
        margin: 0 0 1em;

        flex-direction: row;
        justify-content: flex-start;
      }

      &__value {
        margin: 0 1.25em 0 0;
        overflow: hidden;
        position: relative;
        width: 6.25em;
        height: 5.63em;

        font: 0.8em/1 var(--font-bold);
        text-align: center;

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          opacity: 0;
        }

        &__button {
          display: flex;
          padding: 10px;
          width: 100%;
          height: 100%;

          background: none;
          border-radius: 1.25em;
          flex-direction: column;
          justify-content: center;
        }

        &__price {
          font-size: 1.38em;
        }

        &__name {
          overflow: hidden;
          margin: 5px 0 0;
          max-height: 2em;

          font-size: 0.88em;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }

        &--is-active {
          .cart__product__edit-form__value__button {
            background-color: rgba($white, 0.1);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &__quantity {
        float: left;
        margin: 0 1.5em 0 0;

        &__field {
          width: 3.06em;
          height: 2.44em;

          background: none;
          border: none;
          vertical-align: top;

          color: $white;
          font: 0.9em/2.44em var(--font-semibold);
          text-align: center;
        }

        &__button {
          display: inline-block;
          position: relative;
          width: 2.2em;
          height: 2.2em;

          background: rgba($white, 0.1);
          border: none;
          border-radius: 50%;
          vertical-align: top;

          text-align: center;

          &:before,
          &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.5em;
            height: 0.1em;

            background: $white;
            content: "";
            transform: translate3d(-50%, -50%, 0);
          }

          &--plus:after {
            transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
          }
        }
      }

      &__close {
        float: left;
        width: 8.33em;
        height: 3.67em;

        background: var(--main-color);
        border: none;
        border-radius: 1.83em;

        color: $white;
        font: 0.6em/3.67em var(--font-extrabold);
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
      }

      &--is-visible {
        height: 7.7em;
      }
    }
  }

  &__footer {
    position: fixed;
    right: 45px;
    bottom: 80px;
    width: 560px;

    @at-root .app--tablet & {
      bottom: 100px;
    }
  }

  &__total {
    display: flex;
    padding: 0 0 1.25em;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      display: block;
      padding: 0 0 0.63em;
      position: relative;

      font: 0.8em/1 var(--font-extrabold);
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &__line {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1.25em;
        height: 0.25em;

        background: var(--main-color);
        transform-origin: 0 0;
      }
    }

    &__value {
      margin-right: -0.06em;

      font: 4em/1 var(--font-extralight);
    }

    &__tax {
      position: absolute;
      top: 7.45em;
      right: 0;

      opacity: 0.4;
      z-index: 4;

      font-size: 0.55em;
      letter-spacing: 0.135em;
      line-height: 1;
      text-transform: uppercase;

      @at-root .app--tablet & {
        top: 5.4em;
        font-size: 0.8em;
      }
    }
  }

  &__actions {
    display: flex;
    padding: 2em 0 0;
    position: relative;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &__separator {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;

      background: rgba($white, 0.1);
    }
  }

  &__action {
    position: relative;
    width: 260px;
    height: 4em;

    background: transparent;
    border: none;

    color: $white;
    font: 1em/4em var(--font-extrabold);
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    &__text {
      display: block;
      position: relative;

      z-index: 2;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background: $ebonyclay;
      border-radius: 2em;
      transform: translate3d(-50%, 0, 0);
      z-index: 1;
    }

    &--checkout {
      .cart__action__background {
        background: var(--main-color);
      }
    }
  }

  &__offline-message {
    position: absolute;
    right: 0;
    width: 260px;

    color: rgba($white, 0.3);
    font: 0.55em/1.3 var(--font-semibold);
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    @at-root .app--tablet & {
      font-size: 0.7em;
    }
  }
}

.product-image {
  margin: 0 30px 0 0;
  width: 100px;
}

.reset-modal {
  text-align: center;

  &__title {
    margin: 0;

    font: 50px/1 var(--font-extralight);
  }

  &__text {
    margin: 20px 0 40px;

    // opacity: 0.5;
  }

  &__actions {
    display: flex;
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__button {
    margin: 0 0 0 20px;
    position: relative;
    width: 200px;
    height: 50px;

    background: none;
    border: none;
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.2s linear;

    color: $white;
    font: 12px/50px var(--font-extrabold);
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;

    &__text {
      display: block;
      position: relative;

      z-index: 2;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background: var(--main-color);
      border-radius: 25px;
      transform: translate3d(-50%, 0, 0);
    }

    &:first-child {
      margin-left: 0;
    }

    &--back {
      .reset-modal__button__background {
        background: $ebonyclay;
      }
    }
  }
}

.error-modal {
  text-align: center;

  &__title {
    margin: 0;

    font: 50px/1 var(--font-extralight);
  }

  &__text {
    margin: 20px 0 40px;

    // opacity: 0.5;
  }

  &__actions {
    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: center;
  }

  &__button {
    margin: 0 0 0 20px;
    position: relative;
    width: 200px;
    height: 50px;

    background: none;
    border: none;
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.2s linear;

    color: $white;
    font: 12px/50px var(--font-extrabold);
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;

    &__text {
      display: block;
      position: relative;

      z-index: 2;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background: var(--main-color);
      border-radius: 25px;
      transform: translate3d(-50%, 0, 0);
    }
  }
}
</style>
