<template>
  <div id="screen-checkout-treez">
      <form class="checkout__form">
        <div class="checkout__field  checkout__field--half">
          <input v-model="firstname" placeholder="Firstname" data-osk-options="disableReturn" class="input-osk" />
        </div><!-- .checkout__field -->

        <div class="checkout__field  checkout__field--half">
          <input v-model="lastname" placeholder="Lastname" data-osk-options="disableReturn" class="input-osk" />
        </div><!-- .checkout__field -->

        <div v-show="showBirthday" class="checkout__field  checkout__field--half inputs-container">
          <input v-model="birthdayMonth" v-on:input="inputBirthday" placeholder="MM" size="2" maxlength="2" data-osk-options="disableReturn" class="input-osk inputs-container__input" />
          <div class="inputs-container__separator"></div>
          <input v-model="birthdayDay" v-on:input="inputBirthday" placeholder="DD" size="2" maxlength="2" data-osk-options="disableReturn" class="input-osk inputs-container__input" />
          <div class="inputs-container__separator"></div>
          <input v-model="birthdayYear" v-on:input="inputBirthday" placeholder="YYYY" size="4" maxlength="4" data-osk-options="disableReturn" class="input-osk inputs-container__input" />
        </div><!-- .checkout__field -->

        <div v-show="showPhoneNumber" class="checkout__field  checkout__field--half">
          <input v-model="phoneNumber" placeholder="Phone Number" data-osk-options="disableReturn" class="input-osk" />
        </div><!-- .checkout__field -->

        <button
          v-on:click="proceedCheckout"
          v-bind:class="{ 'checkout__button--sending': isSending , 'checkout__button--offline':connected == false}"
          type="button"
          :disabled="connected == false"
          class="checkout__button"
          >
          <span class="checkout__button__text">
            {{connected === false? 'OFFLINE': 'Confirm order'}}
          </span><!-- .checkout__button__text -->
          <span class="checkout__button__background"></span>
        </button>
      </form>
  </div>
</template>

<script>
import $ from 'jquery'
import OFFLINE from '../mixins/offlineMixin'
export default {
  name: 'ScreenCheckoutTreez',
  props: [
    'cart'
  ],
  mixins: [OFFLINE],
  data () {
    return {
      birthdayDay: null,
      birthdayMonth: null,
      birthdayYear: null,
      customerId: null,
      email: null,
      firstname: null,
      isSending: false,
      lastname: null,
      phoneNumber: null,
      showBirthday: false,
      showPhoneNumber: false
    }
  },
  computed: {
    birthday: function () {
      if (!this.birthdayYear || !this.birthdayMonth || !this.birthdayDay) {
        return false
      }

      return this.birthdayYear + '-' + this.birthdayMonth.padStart(2, '0') + '-' + this.birthdayDay.padStart(2, '0')
    }
  },
  watch: {
    birthdayDay: function () {
      this.birthdayDay = this.birthdayDay.replace(/[^0-9]*/gi, '').substring(0, 2)
    },
    birthdayMonth: function () {
      this.birthdayMonth = this.birthdayMonth.replace(/[^0-9]*/gi, '').substring(0, 2)
    },
    birthdayYear: function () {
      this.birthdayYear = this.birthdayYear.replace(/[^0-9]*/gi, '').substring(0, 4)
    },
    phoneNumber: function () {
      this.phoneNumber = this.phoneNumber.replace(/[^0-9]*/gi, '').substring(0, 10)
    }
  },
  methods: {
    /**
     * Input birth day
     */
    inputBirthday: function (e) {
      var target = e.srcElement || e.target

      var maxLength = parseInt(target.attributes['maxlength'].value, 10)
      var myLength = target.value.length

      if (myLength >= maxLength) {
        var next = target.nextElementSibling

        while (next) {
          if (next === null) {
            break
          }

          if (next.tagName.toLowerCase() === 'input') {
            $(next).click()
            break
          }

          next = next.nextElementSibling
        }
      } else if (myLength === 0) {
        var previous = target.previousElementSibling

        while (previous) {
          if (previous == null) {
            break
          }

          if (previous.tagName.toLowerCase() === 'input') {
            $(previous).click()
            break
          }

          previous = previous.previousElementSibling
        }
      }
    },

    /**
     * Proceed checkout
     */
    proceedCheckout: function () {
      var self = this

      if (this.isSending) {
        return
      }

      if (!this.firstname || !this.lastname) {
        this.$emit('error', 'Please fill in the fields.')
        this.showPhoneNumber = false
        this.showBirthday = false
        return
      }

      this.isSending = true

      // Search customer
      this.$http.get('/customers', {
        params: {
          first_name: self.firstname.trim(),
          last_name: self.lastname.trim()
        }
      })
        .then(function (response) {
          // Check response
          var customers = response.data.customers
          var matchedCustomer = null

          if (!customers || customers.length === 0) {
            throw new Error('no_customer_found')
          } else if (customers.length > 1) {
            if (!self.birthday) {
              throw new Error('birthday_needed')
            } else {
              // Check if one customer match the birthday
              matchedCustomer = customers.filter(function (customer) {
                return customer.birthday === self.birthday
              })

              // Found only one customer
              if (matchedCustomer.length === 1) {
                self.customerId = matchedCustomer[0].customer_id
                self.email = matchedCustomer[0].email
              }
            }

            // If customer not found, check phone number
            if (self.customerId === null) {
              if (!self.phoneNumber) {
                throw new Error('phone_needed')
              } else if (self.phoneNumber !== false && self.phoneNumber !== null && self.phoneNumber !== '') {
                // Check if one customer match the phone number id
                matchedCustomer = customers.filter(function (customer) {
                  return customer.phone === self.phoneNumber
                })

                // Found only one customer
                if (matchedCustomer.length === 1) {
                  self.customerId = matchedCustomer[0].customer_id
                  self.email = matchedCustomer[0].email
                }
              }
            }
          } else if (customers.length === 1) {
            self.customerId = customers[0].customer_id
            self.email = customers[0].email
          }

          // Customer still not found, call a staff member
          if (self.customerId === null) {
            throw new Error('staff_needed')
          } else {
            self.sendOrder()
          }
        })
        .catch(function (error) {
          console.log(error)

          self.isSending = false

          if (self.$gsClient) {
            self.$gsClient.track('Proceed checkout', {
              first_name: self.firstname.trim(),
              last_name: self.lastname.trim()
            }, {
              error: error.message
            })
          }

          if (error.message === 'birthday_needed') {
            self.$emit('error', 'Please confirm your identity by providing your birth date.')
            self.showPhoneNumber = false
            self.showBirthday = true
          } else if (error.message === 'phone_needed') {
            self.$emit('error', 'Please confirm your identity by providing your phone number.')
            self.showPhoneNumber = true
            self.showBirthday = true
          } else if (error.message === 'staff_needed') {
            self.$emit('error', 'We can\'t find you. Please ask a staff member to help you by checking your account.')
            self.showPhoneNumber = true
            self.showBirthday = true
          } else {
            // Could find the customer
            self.$emit('error', 'We couldn\'t find you. Did you enter your info correctly?')
          }
        })
    },

    /**
     * Send order to API
     */
    sendOrder: function () {
      var self = this

      // Format order
      var items = []
      self.cart.forEach(function (line) {
        var item = {
          product_id: line.product.id,
          product_value_id: line.price.id,
          quantity: line.qty
        }

        items.push(item)
      })

      var order = {
        customer_id: self.customerId,
        customer_name: self.firstname + ' ' + self.lastname,
        customer_email: self.email,
        items: items
      }

      // Post order
      console.log('Sending order', order)

      self.$http.post('/orders', {
        order: order
      })
        .then(function (response) {
          console.log(response)
          self.isSending = false
          self.$emit('success', 'Please pick up your order at the designated register.')
          if (self.$gsClient) {
            self.$gsClient.track('Proceed checkout', { order: order }, { status: 'success' })
          }
        })
        .catch(function (error) {
          // Order creation error
          console.log(error.response.data.message, error.response)
          self.isSending = false
          self.$emit('error', 'An error occured during the order creation. Please ask a staff member to help you.')
          if (self.$gsClient) {
            self.$gsClient.track('Proceed checkout', { order: order }, { status: 'error', error: error.response })
          }
        })
    }
  }
}
</script>

<style scoped lang="scss">
</style>
