<template>
  <component
    v-bind:is="homeComponent"
    v-bind:isGeneratingIndex="isGeneratingIndex"
    v-bind:products="products"></component>
</template>

<script>
import ScreenHomeCards from '@/components/ScreenHomeCards'
import ScreenHomeDefault from '@/components/ScreenHomeDefault'
import ScreenHomeRfidNav from '@/components/ScreenHomeRfidNav'
import ScreenHomeRfidSwipe from '@/components/ScreenHomeRfidSwipe'
import ScreenHomeSwipe from '@/components/ScreenHomeSwipe'
import ScreenHomeSwipeNav from '@/components/ScreenHomeSwipeNav'
import ScreenHomeCCC from '@/components/ScreenHomeCCC'

export default {
  name: 'ScreenHomeRouter',
  props: ['isGeneratingIndex', 'products'],
  data () {
    return {
      homeComponent: null
    }
  },
  created: function () {
    // remove scroll of product

    localStorage.removeItem('productsOffset')

    // Set home variations
    var home = ScreenHomeDefault
    console.log('MODE', this.$config.KIOSK_MODE)

    if (this.$config.KIOSK_MODE === 'brand') {
      switch (this.$config.HOME_LAYOUT) {
        case 'swipe':
          home = ScreenHomeSwipe
          break
        case 'rfidswipe':
          home = ScreenHomeRfidSwipe
          break
        case 'rfidnav':
          home = ScreenHomeRfidNav
          break
        case 'swipenav':
          home = ScreenHomeSwipeNav
          break
        case 'on_sale':
          home = ScreenHomeCCC
          break
      }
    } else if (this.$config.KIOSK_MODE === 'limited') {
      home = ScreenHomeCards
    } else if (this.$config.KIOSK_MODE === 'shopping') {
      if (this.$config.HOME_LAYOUT === 'on_sale') {
        home = ScreenHomeCCC
      }
    }

    console.log('COMPONENT', home)

    this.homeComponent = home

    // Events
    this.$on('transition-leave', this.onTransitionLeave)
  },
  destroyed: function () {
    // Events
    this.$off('transition-leave', this.onTransitionLeave)
  },
  methods: {
    onTransitionLeave: function (el, done) {
      // Let dynamic component play its transition
    }
  }
}
</script>

<style scoped lang="scss">
</style>
