<template>
  <div id="screen-brands" class="screen screen--brands" style="opacity: 0">
    <div class="brands">
      <div v-on:scroll="checkLetter" class="brands__scroller">
        <div v-if="featuredBrands.length > 0" class="brands__group brands__group--featured">
          <h2 class="brands__title">
            <div class="brands__title__text">
              Featured brands
            </div>
            <div class="brands__title__line"></div>
          </h2>

          <ul class="brands__list">
            <li
              v-for="brand in featuredBrands"
              v-bind:key="brand.id"
              v-bind:class="{ 'brands__brand--is-active': selectBrandId === brand.id }"
              v-on:click="selectBrand(brand)"
              class="brands__brand">
              <img v-bind:src="brand.logo.url" v-if="brand.logo" class="brands__brand__logo" />
              <div class="brands__brand__name">
                {{ brand.name }}
              </div><!-- .brands__brand__name -->
            </li>
          </ul>

          <div class="brands__group__separator"></div>
        </div><!-- .brands__featured -->

        <div class="brands__group brands__group--other">
          <h2 class="brands__title">
            <div class="brands__title__text">
              {{ featuredBrands.length > 0 ? 'Other brands' : 'Brands' }}
            </div>
            <div class="brands__title__line"></div>
          </h2>

          <ul class="brands__list" >
            <li
              v-for="brand in otherBrands"
              v-bind:key="brand.id"
              v-bind:class="{ 'brands__brand--is-active': selectBrandId == brand.id }"
              v-bind:data-id="brand.id"
              v-bind:data-letter="brand.name.substr(0, 1)"
              v-on:click="selectBrand(brand)"
              class="brands__brand">
              <img v-bind:src="brand.logo.url" v-if="brand.logo" class="brands__brand__logo" />
              <div class="brands__brand__name">
                {{ brand.name }}
              </div><!-- .brands__brand__name -->
            </li>
          </ul>
        </div><!-- .brands__other -->
      </div><!-- .brands__scroller -->

      <div v-if="otherBrands.length > 10" class="brands__navigation">
        <ul class="brands__navigation__letters">
          <li
            v-for="letter in brandsLetters"
            v-bind:key="letter"
            v-on:click="scrollToLetter(letter)"
            v-bind:class="{ 'brands__navigation__letter--is-active': activeLetter === letter }"
            class="brands__navigation__letter">
            {{ letter }}
          </li>
        </ul>
      </div><!-- .brands__navigation -->

      <lottie-container
        v-bind:path="'block-default-intro'"
        v-bind:autoplay="false"
        v-bind:loop="false"
        ref="lottieBlockIntro"></lottie-container>
    </div><!-- .brands -->

    <div class="brand" style="opacity: 0;">

      <div class="brand__title" v-if="selectedBrand">
          <img v-bind:src="selectedBrand.logo.url" v-if=" selectedBrand.logo" class="brand__title__logo" />
          <div class="brand__title__name">
            {{ selectedBrand.name }}
          </div><!-- .brand__title__name -->
      </div><!-- .brand__title -->

      <div v-if="selectedBrand && selectedBrand.description"
        v-html="selectedBrand.description.replace(/\n/g, '<br />')"
        class="brand__description">
      </div><!-- .brand__description -->

      <div class="brand__separator"></div>

      <div class="brand__products">
        <product-card
          v-for="product in filteredProducts"
          v-bind:key="product.id"
          v-bind:product="product"
          v-bind:source="'Brands'"
          v-bind:layout="'small'">
        </product-card>
      </div><!-- .brand__products -->
    </div><!-- .brand -->
  </div>
</template>

<script>
import LottieContainer from '@/components/LottieContainer'
import ProductCard from '@/components/ProductCard'
import { TweenLite, TimelineLite, Linear, Power2, Power3 } from 'gsap/all'
import $ from 'jquery'

export default {
  name: 'ScreenBrands',
  components: {
    LottieContainer,
    ProductCard
  },
  props: ['products', 'brands'],
  data () {
    return {
      selectedBrand: null,
      activeLetter: ''
    }
  },
  watch: {
    products (val, newval) {
      console.log('products changed')
      this.$nextTick(() => {
        this.fetchData()
      })
    }
  },
  computed: {
    selectBrandId () {
      return this.selectedBrand ? this.selectedBrand.id : 0
    },
    brandsLetters () {
      var letters = []

      this.filteredBrands.forEach(brand => {
        var letter = brand.name.substr(0, 1)
        if (!letters.includes(letter)) {
          letters.push(letter)
        }
      })

      return letters
    },
    filteredBrands () {
      if (this.brands !== null) {
        var brands = this.brands

        // Only show brands with products
        brands = brands.filter(function (brand) {
          return brand.hasProducts
        })

        // Sort brands alphabetically
        return brands.sort(function (a, b) {
          return a.name
            .toLowerCase()
            .trim()
            .localeCompare(b.name.toLowerCase().trim())
        })
      } else {
        return this.brands
      }
    },
    featuredBrands () {
      return this.filteredBrands.filter(function (brand) {
        return brand.isFeatured
      })
    },
    otherBrands () {
      return this.filteredBrands.filter(function (brand) {
        return !brand.isFeatured
      })
    },
    filteredProducts () {
      var self = this

      if (self.selectedBrand !== null) {
        // Get products for the selected brand
        var products = this.products.filter(function (product) {
          return product.brand && product.brand.id === self.selectedBrand.id
        })

        // If option is enabled, put featured products on top
        if (this.$config.SORT_FEATURED.BRANDS === true) {
          return products.sort(function (a, b) {
            if (a.isFeatured && !b.isFeatured) {
              return -1
            } else if (!a.isFeatured && b.isFeatured) {
              return 1
            }

            return 0
          })
        } else {
          return products
        }
      } else {
        let products = this.products
        return products
      }
    }
  },
  created: function () {
    this.fetchData()

    // Events
    this.$on('transition-leave', this.onTransitionLeave)
  },
  destroyed: function () {
    // Events
    this.$off('transition-leave', this.onTransitionLeave)
  },
  methods: {
    /**
     * Screen transition enter
     */
    transitionEnter: function () {
      // Selectors
      var self = this
      var container = $(this.$el)

      // Before animation
      container.css({ opacity: '' })
      container.find('.brands__scroller').css({ overflow: 'hidden' })

      this.$root.$emit('block-pointer', true)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.call(
        function () {
          if (self.$refs.lottieBlockIntro) {
            self.$refs.lottieBlockIntro.animation.play()
          }
        },
        null,
        null,
        0
      )

      tl.from(
        container.find('.brands__group__separator'),
        0.7,
        {
          scaleX: 0,
          clearProps: 'transform',
          ease: Power2.easeInOut
        },
        0.1
      )

      tl.staggerFrom(
        container.find('.brands__navigation__letter'),
        0.6,
        {
          alpha: 0,
          x: 10,
          clearProps: 'opacity, transform',
          ease: Power3.easeOut
        },
        0.05,
        0
      )

      container.find('.brands__group').each(function (index) {
        var group = $(this)
        var start = 0.5 + 0.3 * index

        tl.from(
          group.find('.brands__title__text'),
          0.5,
          {
            alpha: 0,
            x: -10,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          start
        )

        tl.from(
          group.find('.brands__title__line'),
          0.5,
          {
            scaleX: 0,
            clearProps: 'transform',
            ease: Power3.easeInOut
          },
          start
        )

        tl.staggerFrom(
          group.find('.brands__brand').slice(0, 8),
          0.6,
          {
            alpha: 0,
            x: -10,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.1,
          start
        )

        group = null
      })

      tl.call(
        function () {
          if (self.selectedBrand && self.selectBrand !== null) {
            self.scrollToBrand(self.selectedBrand.id)
          }

          self.brandTransitionEnter(false)
        },
        null,
        null,
        0.4
      )

      tl.call(function () {
        self.$root.$emit('block-pointer', false)
      })

      tl.call(
        function () {
          if (container) {
            container.find('.brands__scroller').css({ overflow: '' })
          }
        },
        null,
        null,
        0.6
      )

      tl.call(function () {
        tl.kill()

        tl = null
        container = null
      })

      tl.play()
    },

    /**
     * Screen transition leave
     */
    onTransitionLeave: function (el, done) {
      // Selectors
      var self = this
      var container = $(this.$el)
      var animation = self.$refs.lottieBlockIntro.animation

      // Before animation
      container.find('.brands__scroller').css({ overflow: 'hidden' })

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.call(function () {
        self.brandTransitionLeave(false)
      })

      tl.to(
        container.find('.brands__group__separator'),
        0.7,
        {
          scaleX: 0,
          ease: Power2.easeInOut
        },
        0
      )

      tl.to(
        container.find('.brands__navigation__letter'),
        0.6,
        {
          alpha: 0
        },
        0
      )

      container.find('.brands__group').each(function (index) {
        var group = $(this)
        var start = 0.1 * index

        tl.to(
          group.find('.brands__title__text'),
          0.5,
          {
            alpha: 0,
            x: -10,
            ease: Power3.easeOut
          },
          start
        )

        tl.to(
          group.find('.brands__title__line'),
          0.5,
          {
            scaleX: 0,
            ease: Power3.easeInOut
          },
          start
        )

        tl.to(
          group.find('.brands__list'),
          0.6,
          {
            alpha: 0,
            x: -10,
            ease: Power3.easeOut
          },
          start
        )

        group = null
      })

      tl.call(
        function () {
          if (animation) {
            animation.setDirection(-1)
            animation.play()

            animation = null
          }
        },
        null,
        null,
        0.2
      )

      tl.call(
        function () {
          tl.kill()

          tl = null
          container = null

          done()
        },
        null,
        null,
        Math.max(1, tl.duration())
      )

      tl.play()
    },

    /**
     * Brand transition enter
     */
    brandTransitionEnter: function (done) {
      // Selectors
      var container = $(this.$el)
      if (!container) {
        if (done !== false) {
          done()
        }
        return
      }

      var brand = container.find('.brand')

      // Before animation
      brand.css({ opacity: '' })
      brand.find('> *').css({ opacity: '' })
      brand.find('.brand__products').scrollTop(0)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.staggerFrom(
        brand.find('.brand__title, .brand__description'),
        0.5,
        {
          alpha: 0,
          y: 30,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0
      )

      tl.from(
        brand.find('.brand__separator'),
        0.7,
        {
          scaleX: 0,
          clearProps: 'transform',
          ease: Power3.easeInOut
        },
        0.1
      )

      tl.staggerFrom(
        brand.find('.product-image').slice(0, 10),
        0.7,
        {
          alpha: 0,
          x: -20,
          clearProps: 'transform, opacity',
          ease: Power3.easeOut
        },
        0.1,
        0.3
      )

      tl.staggerFrom(
        brand.find('.product-card__info').slice(0, 10),
        0.5,
        {
          alpha: 0,
          clearProps: 'opacity',
          ease: Linear.easeNone
        },
        0.1,
        0.35
      )

      tl.call(function () {
        tl.kill()

        tl = null
        container = null
        brand = null

        if (done !== false) {
          done()
        }
      })

      tl.play()
    },

    /**
     * Brand transition leave
     */
    brandTransitionLeave: function (done) {
      // Selectors
      var container = $(this.$el)
      if (!container) {
        if (done !== false) {
          done()
        }
        return
      }

      var brand = container.find('.brand')
      brand.data('wait', true)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.staggerTo(
        brand.find('> *').reverse(),
        0.5,
        {
          alpha: 0,
          y: 30,
          clearProps: 'transform',
          ease: Power3.easeIn
        },
        0.05,
        0
      )

      tl.call(function () {
        brand.data('wait', false)

        tl.kill()

        tl = null
        container = null
        brand = null

        if (done !== false) {
          done()
        }
      })

      tl.play()
    },

    /**
     * Check active letter
     */
    checkLetter: function () {
      // Selectors
      var container = $(this.$el)
      var brands = container.find('.brands__brand')
      var topBrand = null

      brands.each(function (index) {
        var brand = $(this)

        if (brand.offset().top > -40) {
          topBrand = brand
          return false
        }

        brand = null
      })

      if (topBrand) {
        this.activeLetter = topBrand.attr('data-letter')
      }

      container = null
      brands = null
      topBrand = null
    },

    /**
     * Fetch data
     */
    fetchData: function () {
      var self = this

      // Fetch brands
      // this.$http.get('brands?per_page=9999').then(response => {
      // this.brands = response.data.brands

      this.brands.forEach(function (brand) {
        // Ignore brands with not product
        if (brand.total_products === 0) {
          brand.hasProducts = false
          return
        } else {
          brand.hasProducts = true
        }

        // Get products from this brand
        var products = self.products.filter(function (product) {
          return product.brand && product.brand.id === brand.id
        })

        // Check if brand has some featured products
        brand.isFeatured = products.some(function (product) {
          return product.isFeatured
        })
      })

      if (self.$route.query.brand) {
        this.selectedBrand = this.getBrand(Number(this.$route.query.brand))
      } else {
        this.selectedBrand = null
      }
      /* else {
        // Set default brand to the first one
        /*if (this.featuredBrands.length > 0) {
          this.selectedBrand = this.featuredBrands[0]
        } else {
          this.selectedBrand = this.filteredBrands[0]
        }
      } */

      console.log(self.selectedBrand)
      /* if (self.$gsClient && self.selectedBrand) {
        self.$gsClient.track('Brand', {
          event_category: 'Selection',
          brand_name: self.selectedBrand.name,
          total_products: self.selectedBrand.total_products,
          id: self.selectedBrand.id
        })
      } */

      // Fetch is done, call transition on next tick
      self.$nextTick(self.transitionEnter)
    },

    /**
     * Get brand per id
     * @param {Integer} brandId Brand ID
     */
    getBrand: function (brandId) {
      return this.filteredBrands.find(function (brand) {
        return brand.id === brandId
      })
    },

    /**
     * Select brand
     * @param  {Object} brand
     */
    selectBrand: function (brand) {
      var self = this
      // Wait between transitions
      if (
        $(this.$el)
          .find('.brand')
          .data('wait') === true
      ) {
        return
      }

      // Call brand transition leave with a callback
      this.brandTransitionLeave(function () {
        // Select brand then call transition on next tick
        self.selectedBrand = brand

        console.log(self.selectedBrand)
        if (self.$gsClient && self.selectedBrand) {
          self.$gsClient.track('Brand', {
            event_category: 'Selection',
            brand_name: self.selectedBrand.name,
            total_products: self.selectedBrand.total_products,
            id: self.selectedBrand.id
          })
        }

        self.updateRoute()

        self.$nextTick(function () {
          self.brandTransitionEnter(false)
        })
      })
    },

    /**
     * Scroll to brand
     */
    scrollToBrand: function (id) {
      // Selectors
      var container = $(this.$el)
      if (id === null) {
        return
      }
      var brand = container
        .find('.brands__brand[data-id="' + id + '"]')
        .first()
      var scroller = container.find('.brands__scroller')

      var maxScroll = scroller[0].scrollHeight - $(window).height()
      if (scroller && brand.position()) {
        var scroll = brand.position().top - 40 + scroller.scrollTop()
        scroll = Math.min(scroll, maxScroll)
      } else {
        scroll = 0
      }

      if (brand.length === 1) {
        // Animation
        TweenLite.to(scroller, 0.8, {
          scrollTo: scroll,
          ease: Power3.easeInOut
        })
      }

      container = null
      brand = null
      scroller = null
    },

    /**
     * Scroll to letter
     */
    scrollToLetter: function (letter) {
      // Selectors
      var container = $(this.$el)
      var brand = container
        .find('.brands__brand[data-letter="' + letter + '"]')
        .first()
      var scroller = container.find('.brands__scroller')

      var maxScroll = scroller[0].scrollHeight - $(window).height()
      var scroll = brand.position().top - 40 + scroller.scrollTop()
      scroll = Math.min(scroll, maxScroll)

      if (brand.length === 1) {
        brand.trigger('click')

        // Animation
        TweenLite.to(scroller, 0.8, {
          scrollTo: scroll,
          ease: Power3.easeInOut
        })
      }

      container = null
      brand = null
      scroller = null
    },

    /**
     * Update route with params
     */
    updateRoute: function () {
      var params = {}

      if (this.selectedBrand) {
        params.brand = this.selectedBrand.id
      }

      this.$router.replace({ query: params })
    }
  }
}
</script>

<style scoped lang="scss">
.brands {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;

  &__scroller {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
  }

  &__navigation {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: calc(100% + 10px);

    flex-grow: 0;
    flex-shrink: 0;
    z-index: 2;

    &__letters {
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;

      flex-direction: column;
      justify-content: flex-start;
      list-style-type: none;
    }

    &__letter {
      display: flex;
      margin: 0.77em 0 0;
      padding: 0;
      width: 3.38em;
      height: 100%;

      align-items: center;
      background: rgba($white, 0.1);
      border-radius: 5px;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      transition: color 0.2s ease;

      color: rgba($white, 0.35);
      font: 0.65em/1 var(--font-semibold);
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;

      &:first-child {
        margin-top: 0;
      }

      &--is-active {
        color: $white;
      }
    }

    &__arrow {
      display: inline-block;
      position: relative;
      width: 1px;
      height: 10px;

      background: $white;
      opacity: 0.35;

      &:before,
      &:after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 5px;

        background: $white;
        content: "";
        transform-origin: 50% 100%;
      }
      &:before {
        transform: rotateZ(-35deg);
      }
      &:after {
        transform: rotateZ(35deg);
      }

      &--up {
        transform: rotateZ(180deg);
      }
    }
  }

  .lottie-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
  }

  /deep/ .lottie-container {
    path {
      fill: rgba($black, 0.3);
    }
  }

  &__group {
    width: 260px;

    &__separator {
      margin: 60px -20px 40px;
      display: block;
      height: 1px;

      background-color: rgba($white, 0.1);
      transform-origin: 0 0;
    }

    &:first-child {
      .brands__title:before {
        display: none;
      }
    }
  }

  &__title {
    display: block;
    padding: 0 0 10px;
    margin: 0 0 35px;
    position: relative;

    font: 0.8em/1 var(--font-bold);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &__line {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 4px;

      background: var(--main-color);
      transform-origin: 0 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__brand {
    display: flex;
    padding: 0 20px;
    width: 260px;
    height: 140px;

    align-items: center;
    background: transparent;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;

    font: 0.7em/1 var(--font-semibold);
    letter-spacing: 0.1em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;

    &__logo {
      display: block;
      width: calc(100% - 40px);
      height: calc(100% - 40px);

      object-fit: contain;

      & + .brands__brand__name {
        display: none;
      }
    }

    &--is-active {
      background: rgba($white, 0.05);
      opacity: 1;
    }
  }
}

.brand {
  display: flex;
  position: absolute;
  top: 80px;
  right: 120px;
  bottom: 0;
  left: 515px;

  align-items: flex-start;
  flex-direction: column;
  justify-content: stretch;

  &__title {
    margin: 0 0 25px;

    font: 2.9em/1.2 var(--font-extralight);
    text-indent: -0.05em;

    &__logo {
      display: block;
      max-width: 300px;
      max-height: 150px;

      object-fit: contain;

      & + .brand__title__name {
        display: none;
      }
    }
  }

  &__description {
    padding: 0 0 45px;
  }

  &__separator {
    display: block;
    width: 100%;
    height: 1px;

    background-color: rgba($white, 0.1);
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__products {
    display: flex;
    margin: 0 0 0 -30px;
    padding: 45px 30px 0 30px;
    width: calc(100% + 60px);

    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;

    >>> .product-card {
      margin: 85px 0 0;
      width: calc(50% - 25px);

      &:nth-child(-n + 2) {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 45px;
      }
    }
  }
  /deep/ .product-card
  {
    &__inner{
      display: flex;
      align-items: center;
    }
    .promotion{
      min-width: 80px;
      min-height: 80px;
      .text{
        font-size: 14px;
      }
      .min-sm-text{
        font-size: 10px;
      }
    }
  }
}
</style>
