<template>
  <div
    v-on:click="clickHandler"
    v-on:touchstart="onTouchStart"
    v-on:touchend="onTouchEnd"
    v-touch:swipe="swipeHandler"
    v-bind:class="[{ 'hide-cursor': hideCursor }, 'app--' + $config.KIOSK_MODE, 'app--' + $config.SCREEN_TYPE]"
    id="app"
    class="app"
  >
    <div class="app-background">
      <video
        v-if="$config.BACKGROUND.indexOf('.mp4') !== -1"
        v-bind:src="$config.BACKGROUND"
        class="app-background__media"
        autoplay
        loop
      ></video>

      <img
        v-if="$config.BACKGROUND.indexOf('.mp4') === -1"
        v-bind:src="$config.BACKGROUND"
        class="app-background__media"
      />
    </div>
    <!-- .app-background -->

    <div
      v-bind:class="{ 'view-container--with-mask': showBackgroundMask() }"
      class="view-container"
    >
      <the-sidebar
        v-bind:cart="cart"
        v-bind:cartTotal="cartTotal"
        v-if="sidebarShow"
      />

      <the-brand-slideshow
        v-if="$config.KIOSK_MODE === 'brand' && $route.name !== 'home'"
        ref="brandSlideshow"
      ></the-brand-slideshow>

      <div
        v-if="$config.LICENSE_NUMBER"
        class="license-number"
      >
        License number:
        {{ $config.LICENSE_NUMBER }}
      </div>

      <div v-bind:class="{ 'is-offline': isOffline, 'glowing':isGeneratingIndex }" class="copyright"  >
        Powered by
        <img
          v-on:touchstart="logoHold"
          v-on:touchend="logoRelease"
          src="/static/img/logo-tpb.png"
          class="copyright__logo"
        />
      </div>

      <transition
        v-on:enter="onTransitionEnter"
        v-on:leave="onTransitionLeave"
        v-bind:css="false"
        mode="out-in"
      >
        <router-view
          v-bind:cart="cart"
          v-bind:cartTotal="cartTotal"
          v-bind:categories="categories"
          v-bind:featuredProductsModal="featuredProductsModal"
          v-bind:isOffline="isOffline"
          v-bind:isGeneratingIndex="isGeneratingIndex"
          v-bind:products="products"
          v-bind:tags="tags"
          v-bind:featuredTags="featuredTags"
          v-bind:brands="brands"
          v-bind:articles="articles"
          v-bind:tagsPerCategories="tagsPerCategories"
          ref="routerView"
        />

      </transition>
    </div>
    <!-- .view-container -->

    <portal
      to="modal-container"
      v-if="showIdleModal"
    >
      <modal-template
        class="modal--hide-close modal--small"
        key="idle-modal"
      >
        <div class="idle-modal">
          <h2 class="idle-modal__title">Your session has timed out.</h2>

          <div class="idle-modal__actions">
            <div
              v-on:click="this.restartSession"
              class="idle-modal__button"
            >
              <div class="idle-modal__button__text">Start over</div>
              <div class="idle-modal__button__background"></div>
            </div>
            <!-- .idle-modal__button -->

            <div
              v-on:click="this.toggleIdleModal"
              class="idle-modal__button"
            >
              <div class="idle-modal__button__text">Continue session</div>
              <div class="idle-modal__button__background"></div>
            </div>
            <!-- .idle-modal__button -->
          </div>
          <!-- .idle-modal__actions -->

          <div class="idle-modal__timer">
            Session will automatically restart in
            <b>{{ restartTimer }}</b> seconds
          </div>
          <!-- .idle-modal__timer -->
        </div>
        <!-- .idle-modal -->
      </modal-template>
    </portal>

    <portal
      to="modal-container"
      v-if="showOosModal"
    >
      <modal-template
        class="modal--hide-close modal--small"
        key="oos-modal"
      >
        <div class="oos-modal">
          <h2 class="oos-modal__title">This product is out of stock.</h2>

          <div class="oos-modal__text">Please hand it to a staff member so they can swap it out.</div>
          <!-- .oos-modal__text -->

          <div class="oos-modal__actions">
            <div
              v-on:click="this.toggleOosModal"
              class="oos-modal__button"
            >
              <div class="oos-modal__button__text">Ok</div>
              <div class="oos-modal__button__background"></div>
            </div>
            <!-- .oos-modal__button -->
          </div>
          <!-- .oos-modal__actions -->
        </div>
        <!-- .oos-modal -->
      </modal-template>
    </portal>

    <portal
      to="modal-container"
      v-if="showLsModal"
    >
      <modal-template
        class="modal--hide-close modal--small"
        key="oos-modal"
      >
        <div class="ls-modal">
          <h2 class="ls-modal__title">Sorry</h2>

          <div class="ls-modal__text">You can't add this quantity to cart, only {{ maxStockQty }} in stock.</div>
          <!-- .ls-modal__text -->

          <div class="ls-modal__actions">
            <div
              v-on:click="this.toggleLsModal"
              class="ls-modal__button"
            >
              <div class="ls-modal__button__text">Ok</div>
              <div class="ls-modal__button__background"></div>
            </div>
            <!-- .ls-modal__button -->
          </div>
          <!-- .ls-modal__actions -->
        </div>
        <!-- .ls-modal -->
      </modal-template>
    </portal>

    <portal-target
      name="modal-container"
      ref="portalTarget"
      :transition="{ name: 'modal'}"
      :transition-events="{ enter: onModalTransitionEnter, leave: onModalTransitionLeave }"
    ></portal-target>

    <div class="touch-feedback"></div>

    <div
      v-if="isOffline"
      class="link-offline"
    >Offline</div>

    <div
      v-if="pointerBlocked"
      class="block-pointer"
    > </div>
  </div>
</template>

<script>
import ModalTemplate from '@/components/ModalTemplate'
import { Portal, PortalTarget } from 'portal-vue'
import TheBrandSlideshow from '@/components/TheBrandSlideshow'
import TheSidebar from '@/components/TheSidebar'
import { TweenMax, TimelineLite, Linear, Power2, Power3 } from 'gsap/all'
import $ from 'jquery'
import api from './api/api'
import db from './api/db'
import BrandsRepo from '@/api/brands/BrandsRepo'
import ArticlesRepo from '@/api/articles/ArticlesRepo'
import RFIDRepo from '@/api/rfid/RFIDRepo'
import FeatureTagsTepo from '@/api/feature-tags/FeatureTagsRepo'
import {WAIT_TIME, RETRY_COOLDOWN} from '@/const/globals'
import ProductsRepo from '@/api/products/ProductsRepo'
require('./assets/css/normalize.css')
require('./assets/css/onScreenKeyboard.css')
require('./assets/scss/global.scss')
require('./assets/js/utils.js')
require('../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css')

export default {
  name: 'App',
  components: {
    ModalTemplate,
    Portal,
    PortalTarget,
    TheBrandSlideshow,
    TheSidebar
  },
  data () {
    return {
      cart: [],
      categories: [],
      pagesToRetry: [],
      featuredTags: [],
      featuredProductsModal: false,
      idleTimeout: null,
      isGeneratingIndex: true,
      isOffline: !navigator.onLine,
      isTouched: false,
      fetchedProducts: {},
      maxStockQty: 0,
      articles: [],
      pointerBlocked: false,
      products: [],
      fetchingProducts: false,
      page: {
        total: 0,
        totalPages: 0,
        page: 1,
        per_page: 10
      },
      refreshTimeout: null,
      restartInterval: null,
      restartTimer: 0,
      rfidProducts: {},
      showIdleModal: false,
      showLsModal: false,
      showOosModal: false,
      sidebarShow: false,
      swStarted: false,
      tags: [],
      tagsPerCategories: {},
      transitionFrom: this.$route.matched[0].components.default,
      transitionTo: this.$route.matched[0].components.default,
      hideCursor: true,
      videoPlaying: 0,
      brands: []
    }
  },
  computed: {

    cartTotal: function () {
      var total = 0

      this.cart.forEach(function (line) {
        var lineTotal = Number(line.price.value) * Number(line.qty)

        total += lineTotal
      })

      return total
    }
  },
  created: function () {
    var self = this

    clearInterval(window.appRestartInterval)

    // Global CSS vars
    const root = document.documentElement
    root.style.setProperty('--main-color', this.$config.MAIN_COLOR)
    root.style.setProperty('--secondary-color', this.$config.SECONDARY_COLOR)
    root.style.setProperty(
      '--kiosk-background',
      'url(' + this.$config.BACKGROUND + ')'
    )

    // Events
    this.$root.$on('fetch-data', this.fetchData)
    this.$root.$on('reset-session', this.resetSession)
    this.$root.$on('restart-session', this.restartSession)
    this.$root.$on('add-to-cart', this.onAddToCart)
    this.$root.$on('delete-from-cart', this.onDeleteFromCart)
    this.$root.$on('featured-products-modal', this.onFeaturedProductsModal)
    this.$root.$on('video-play', this.onVideoPlay)
    this.$root.$on('video-pause', this.onVideoPause)
    this.$root.$on('start-hard-refresh', this.startHardRefreshCountdown)
    this.$root.$on('stop-hard-refresh', this.stopHardRefreshCountdown)
    this.$root.$on('block-pointer', this.blockPointer)

    // US event
    this.$root.$on('sensor-uncovered', function (portNumber) {
      if (self.rfidProducts[portNumber]) {
        let product = self.rfidProducts[portNumber]

        // Hide idle modal on tag put
        if (self.showIdleModal === true) {
          self.toggleIdleModal()
        }

        this.$router.push({
          name: 'product',
          params: { id: product.id, source: 'Sensor' }
        })
        if (self.$gsClient) {
          self.$gsClient.track('RFID or Sensor Event', {
            id: product.id,
            source: 'Sensor'
          })
        }
        self.idleHandler()
      }
    })

    // RFID event
    this.$root.$on('tag-put', function (data) {
      data = data.toUpperCase()
      // console.log("TAG EVENT", "Ipprovements");
      console.log('Product with RFID ' + data + ' DATA :: ', self.rfidProducts[data])
      if (self.rfidProducts.hasOwnProperty(data)) {
        let rfid = self.rfidProducts[data]

        let productId = self.rfidProducts[data].rfidEntityID
        if (rfid.rfidEntityType) {
          switch (rfid.rfidEntityType) {
            case 'KioskProduct': {
              let product = self.products.find(
                product => product.id === productId
              )
              console.log('Product data :: ', { product })
              if (!product || product.stock === 0) {
                switch (this.$config.RFID_POP_UP_BEHAVIOR) {
                  case 0:
                    console.log('Kiosk configuration: Do nothing')
                    break
                  case 1:
                    console.log(
                      'Kiosk configuration: Send the user to the detail screen'
                    )
                    // At this point we want to show the product detail but disable the add to cart option
                    self.showOosModal = false
                    // Hide idle modal on tag put
                    if (self.showIdleModal === true) {
                      self.toggleIdleModal()
                    }

                    this.$router.push({
                      name: 'product',
                      params: { id: productId, source: 'RFID' }
                    })
                    if (self.$gsClient) {
                      self.$gsClient.track('RFID or Sensor Event', {
                        id: productId,
                        source: 'RFID',
                        category: 'KioskProduct'
                      })
                    }

                    break
                  case 2:
                    console.log(
                      'Kiosk configuration: Show out of stock pop up'
                    )
                    if (self.showOosModal === true) {
                      self.showOosModal = false
                      setTimeout(function () {
                        self.showOosModal = true
                      }, 500)
                    } else {
                      self.showOosModal = true
                    }
                    if (self.$gsClient) {
                      self.$gsClient.track('RFID or Sensor Event', {
                        error: 'out of stock',
                        source: 'RFID',
                        category: 'KioskProduct'
                      })
                    }
                    break
                  default:
                    console.log(
                      'Kiosk configuration NOT FOUND, fallingback to "Do nothing"'
                    )
                    break
                }
              } else {
                self.showOosModal = false
                // Hide idle modal on tag put
                if (self.showIdleModal === true) {
                  self.toggleIdleModal()
                }
                this.$router.push({
                  name: 'product',
                  params: { id: product.id, source: 'RFID' }
                })
                if (self.$gsClient) {
                  self.$gsClient.track('RFID or Sensor Event', {
                    id: product.id,
                    source: 'RFID',
                    category: 'KioskProduct'
                  })
                }
              }
              break
            }
            case 'Brand': {
              this.$router.push(`/brands?brand=${rfid.rfidEntityID}`)
              if (self.$gsClient) {
                self.$gsClient.track('RFID or Sensor Event', {
                  id: rfid.rfidEntityID,
                  source: 'RFID',
                  category: 'Brand'
                })
              }

              break
            }
            case 'StoreCategory': {
              this.$router.push({
                name: 'products',
                query: {
                  category: rfid.rfidEntityID
                }
              })
              if (self.$gsClient) {
                self.$gsClient.track('RFID or Sensor Event', {
                  id: rfid.rfidEntityID,
                  source: 'RFID',
                  category: 'StoreCategory'
                })
              }

              break
            }
          }
        }

        self.idleHandler()
      }
    })

    // Online/offline mode
    window.addEventListener('online', this.checkConnection)
    window.addEventListener('offline', this.checkConnection)

    // Hide sidebar on home
    this.sidebarShow = this.getSidebarVisibility()

    // Check if cursor should be hidden or not
    this.setCursor()

    // Fancybox
    $().fancybox({
      selector: '[data-fancybox]',
      loop: true,
      buttons: [
        // 'zoom',
        // 'share',
        // 'slideShow',
        // 'fullScreen',
        // 'download',
        // 'thumbs',
        'close'
      ],
      hash: false,
      video: {
        tpl:
          '<video class="fancybox-video" controls controlsList="nodownload nofullscreen" poster="{{poster}}">' +
          '<source src="{{src}}" type="{{format}}" />' +
          'Sorry, your browser doesn\'t support embedded videos, <a href="{{src}}">download</a> and watch with your favorite video player!' +
          '</video>',
        format: '', // custom video format
        autoStart: true
      },
      afterShow: function (instance, slide) {
        if (slide.type === 'video') {
          // Block idle timeout
          self.$root.$emit('video-play')

          // Close modal on video end
          let video = slide.$slide.find('video')
          video.on('ended', function () {
            instance.close()
          })
        }
      },
      afterClose: function (instance, slide) {
        // Unblock idle timeout
        if (slide.type === 'video') {
          self.$root.$emit('video-pause')
        }
      }
    })
  },
  mounted: function () {
    window.addEventListener('keypress', this.onKeyPress)
  },
  watch: {
    $route (to, from) {
      this.transitionFrom = from
      this.transitionTo = to

      // Hide keyboard
      $('#osk-container:visible .osk-hide').click()
    }
  },
  methods: {
    /**
     * Router view transition enter
     */
    onTransitionEnter: function (el, done) {
      if (this.transitionFrom.name === 'home') {
        this.sidebarShow = this.getSidebarVisibility()
      }
      done()
    },

    /**
     * Router view transition leave
     */
    onTransitionLeave: function (el, done) {
      var self = this

      if (this.$refs.routerView.hasOwnProperty('onTransitionLeave')) {
        this.blockPointer(true)

        // If current screen has a transition leave methods, trigger it
        this.$refs.routerView.$emit('transition-leave', el, function () {
          self.blockPointer(false)
          TweenMax.killAll(true)
          done()
        })
      } else if (
        this.transitionFrom.name === 'blank' &&
        this.transitionTo.name === 'home'
      ) {
        this.blockPointer(true)

        setTimeout(function () {
          self.blockPointer(false)
          TweenMax.killAll(false)
          done()
        }, 1500)
      } else if (
        this.transitionFrom.name === 'blank' &&
        this.$refs.hasOwnProperty('brandSlideshow')
      ) {
        done()
      } else {
        TweenMax.killAll(true)
        done()
      }

      // Hide sidebar on home
      if (this.transitionTo.name === 'home') {
        this.sidebarShow = this.getSidebarVisibility()
      }
    },

    /**
     * Modal transition enter
     */
    onModalTransitionEnter: function (el, done) {
      // Selectors
      var container = $(el)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.from(
        container.find('.modal__background'),
        0.3,
        {
          alpha: 0,
          clearProps: 'opacity',
          ease: Linear.easeNone
        },
        0
      )

      tl.from(
        container.find('.modal__container'),
        0.5,
        {
          height: 0,
          y: 30,
          clearProps: 'transform, opacity',
          ease: Power3.easeInOut
        },
        0
      )

      if (container.find('.add-to-cart-modal').length === 1) {
        tl.staggerFrom(
          container.find('.product-image, .add-to-cart-modal__form > *'),
          0.5,
          {
            alpha: 0,
            y: 30,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.1,
          0.3
        )
      } else if (container.find('.topic-modal').length === 1) {
        tl.from(
          container.find('.topic-modal__aside__background'),
          0.5,
          {
            width: 0,
            clearProps: 'width',
            ease: Power3.easeInOut
          },
          0.2
        )

        tl.from(
          container.find('.modal__close-text__background'),
          0.5,
          {
            width: 0,
            clearProps: 'width',
            ease: Power2.easeInOut
          },
          0.1
        )

        tl.from(
          container.find('.modal__close-text__icon'),
          0.3,
          {
            scale: 0,
            clearProps: 'transform',
            ease: Power2.easeOut
          },
          0.4
        )

        tl.from(
          container.find('.modal__close-text__text'),
          0.3,
          {
            alpha: 0,
            clearProps: ' opacity',
            ease: Linear.easeNone
          },
          0.5
        )

        tl.staggerFrom(
          container.find('.topic-modal__header > *, .topic-modal__body'),
          0.5,
          {
            alpha: 0,
            y: 30,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.1,
          0.3
        )

        tl.from(
          container.find('.topic-modal__aside__title__text'),
          0.5,
          {
            alpha: 0,
            x: -10,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.6
        )

        tl.from(
          container.find('.topic-modal__aside__title__line'),
          0.5,
          {
            scaleX: 0,
            clearProps: 'transform',
            ease: Power3.easeInOut
          },
          0.6
        )

        tl.staggerFrom(
          container.find('.product-image'),
          0.7,
          {
            alpha: 0,
            x: -20,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.1,
          0.7
        )

        tl.staggerFrom(
          container.find('.product-card__info'),
          0.5,
          {
            alpha: 0,
            clearProps: 'opacity',
            ease: Linear.easeNone
          },
          0.1,
          0.75
        )

        tl.from(
          container.find('.topic-modal__aside__button__background'),
          0.5,
          {
            width: 0,
            clearProps: 'width',
            ease: Power2.easeInOut
          },
          0.8
        )

        tl.from(
          container.find('.topic-modal__aside__button__text'),
          0.5,
          {
            alpha: 0,
            y: 20,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          1.1
        )
      } else {
        tl.from(
          container.find('.modal__inner'),
          0.5,
          {
            alpha: 0,
            y: 30,
            clearProps: 'transform, opacity',
            ease: Power3.easeOut
          },
          0.3
        )
      }

      tl.call(function () {
        tl.kill()

        tl = null
        container = null

        done()
      })

      tl.play()
    },

    /**
     * Modal transition leave
     */
    onModalTransitionLeave: function (el, done) {
      // Selectors
      var container = $(el)

      // Animation
      var tl = new TimelineLite()
      tl.pause()

      tl.to(
        container.find('.modal__inner'),
        0.5,
        {
          alpha: 0,
          y: 30,
          ease: Power3.easeIn
        },
        0
      )

      tl.to(
        container.find('.modal__container'),
        0.5,
        {
          boxShadow: '0px 0px 0px 0px rgba(0, 0, 0, 0)',
          height: 0,
          y: 30,
          ease: Power3.easeInOut
        },
        0.1
      )

      tl.to(
        container.find('.modal__background'),
        0.3,
        {
          alpha: 0,
          ease: Linear.easeNone
        },
        0.4
      )

      tl.call(function () {
        tl.kill()

        tl = null
        container = null

        done()
      })

      tl.play()
    },

    /**
     * Add to cart event
     * @param  {Object} product
     */
    onAddToCart: function (product) {
      let totalQty = product.qty

      let cartProductIndex = this.cart.findIndex(
        element =>
          element.product.id === product.product.id &&
          element.price.id === product.price.id
      )

      if (cartProductIndex >= 0) {
        totalQty += this.cart[cartProductIndex].qty
      }

      let catalogProduct = this.products.find(
        element => element.id === product.product.id
      )

      if (totalQty > catalogProduct.stock) {
        this.maxStockQty = catalogProduct.stock
        this.showLsModal = true

        this.$root.$emit('product-not-added', product)
      } else {
        if (cartProductIndex >= 0) {
          this.cart[cartProductIndex].qty = totalQty
        } else {
          this.cart.push(product)
        }
        console.log('Product', product)
        if (self.$gsClient) {
          self.$gsClient.track(
            'Add to Cart',
            {
              name: product.product.name,
              brand: product.product.brand ? product.product.brand.name : '',
              category: product.product.catalog_category.name,
              quantity: product.qty,
              price: product.price.value,
              base_price: product.price.basePrice,
              category_taxes: product.product.category_taxes,
              store_taxes: product.product.store_taxes,
              tag_list: product.product.tag_list,
              id: product.product.sku,
              product_id: product.product.id
            },
            { total_qty: totalQty }
          )
        }

        this.$root.$emit('product-added', product)
      }
    },

    /**
     * Delete from cart event
     * @param  {Integer} index
     */
    onDeleteFromCart: function (index) {
      var newCart = []
      let dis = this
      this.cart.forEach(function (line, loopIndex) {
        if (loopIndex !== index) {
          newCart.push(line)
        } else {
          console.log('Prod removed from cart', line)

          if (dis.$gsClient) {
            dis.$gsClient.track('Delete from cart', { item: line })
          }
        }
      })

      this.cart = newCart
    },

    /**
     * Show featured products modal only once
     */
    onFeaturedProductsModal: function () {
      this.featuredProductsModal = true
    },

    /**
     * Keyboard event
     */
    onKeyPress: function (e) {
      if (e.charCode === 178) {
        // Open debug
        this.$router.push({ name: 'debug-cache' })
      }
    },

    /**
     * Save touch status
     */
    onTouchStart: function () {
      this.isTouched = true
      this.idleHandler()
    },

    /**
     * Save touch status
     */
    onTouchEnd: function () {
      this.isTouched = false
      this.idleHandler()
    },

    /**
     * Save video status
     */
    onVideoPlay: function () {
      this.videoPlaying += 1
      this.idleHandler()
    },

    /**
     * Save video status
     */
    onVideoPause: function () {
      this.videoPlaying -= 1
      this.idleHandler()
    },

    /**
     * Block pointer
     */
    blockPointer: function (status = false) {
      this.pointerBlocked = status
    },

    /**
     * Check if app is offline
     */
    checkConnection: function () {
      this.isOffline = !navigator.onLine
    },

    /**
     * Global click event
     */
    clickHandler: function (event) {
      this.idleHandler()
      this.touchFeedback(event)
    },

    /**
   * Function use to sleep
   */
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async updateProducts (options) {
      let self = this
      // if times of retry its more or equal to retuurn page

      return new Promise(async (resolve, reject) => {
        try {
          // send request from api and save products
          let response = await ProductsRepo.index({
            page: options.page,
            per_page: 25,
            max_date: options.lastUpdate,
            exclude_zero: 1 })

          const products = response.products

          products.forEach(product => {
            self.fetchedProducts[product.id] = product
          })
          // return date
          resolve(response.meta.total_pages)
        } catch (e) {
          reject(e)
          // of operation fails wait 25 seconds and retry
        }
      })
    },
    /**    /**
     * Fetch products one by one
     * @param {Array} productsToUpdate Products to update
     * @param {Array} productsToRemove Products to remove
     */
    fetchProducts: async function (productsToUpdate, productsToRemove) {
      var self = this
      let totalPages = 1
      var lastUpdate = new Date(0).toISOString()

      if (self.$config.STORE_LOCALLY === 1 && localStorage.getItem('update_date')) {
        lastUpdate = localStorage.getItem('update_date')
      }

      console.log('BRING PRODUCTS FROM', lastUpdate)
      // Remove products
      if (productsToRemove && productsToRemove.length > 0) {
        for (const product of productsToRemove) {
          delete self.fetchedProducts[product.id]
          // remove from local db
          if (self.$config.STORE_LOCALLY) {
            db.deleteProduct(product).then(() => {
              console.error(`${product.id} removed`)
            }, error => {
              console.error(error)
            })
            console.log('Product removed ' + product.id)
          }
        }
      }

      // get firstProducts

      // fetch products from remove

      // if (productsToUpdate.length > 0) {
      for (let i = 1; i <= totalPages; i++) {
        try {
          totalPages = await self.updateProducts({
            page: i,
            lastUpdate
          }, productsToUpdate)

          // exit loop if total pages its 0 and not products are updated
          if (totalPages === 0) {
            console.log(`No products to index skipping`)
            break
          }
          console.log(`Page ${i} of ${totalPages} indexed`)
          if (totalPages === 0) {
            console.log('%c No pages to index', 'background-color:##00C796;color:#fff;')
            break
          }
          await self.sleep(2000)
        } catch (e) {
          console.error(`Indexing for page ${i} fail retrying`)
          console.error(e)
          // if fetch fails try five times inan 2 minutes lapsus
          let times = 0
          for (times; times < 5; times++) {
            try {
              await self.sleep(RETRY_COOLDOWN)
              totalPages = await self.updateProducts({
                page: i,
                lastUpdate
              }, productsToUpdate)
              console.log(`Page ${i} of ${totalPages} indexed`)
              break
            } catch (e) {
              console.error(`Retry for page ${i} failed for a ${times + 1} time`, e)
            }
          }
          // if retries fails 5 times add to wating line
          if (times >= 5) {
            console.log(`Adding Page ${i} to retry pages for next sync`)
            self.pagesToRetry.push({
              page: i,
              lastUpdate
            })
          }
        }
      }
      /* } else {
        console.log('No products to update')
      } */

      self.parseProducts()
    },
    async retryUpdate (options) {
      try {
        await this.updateProducts(options)
        this.parseProducts()
      } catch (e) {
        console.log('Error for retrie ', e)
        setTimeout(() => {
          this.retryUpdate(options)
        }, 2 * 60 * 1000)
      }
    },
    /**
       * Retrie pages
       */
    async retryPages () {
      let self = this
      await Promise.all(self.pagesToRetry.map(async (options, index) => {
        try {
          await this.updateProducts(options)
          self.pagesToRetry.splice(index, 1)
        } catch (e) {
          console.error(e)
        }
      }))

      // this.parseProducts()
    },

    /*
     * Fetch data
     */
    fetchData: async function () {
      var self = this
      var productsToUpdate = []
      var productsToRemove = []

      await self.retryPages()
      // get products from local indexed db if there are some store localy
      if (self.$config.STORE_LOCALLY === 1) {
        var products = await db.getProducts()
        if (products.length > 0) {
          products.forEach(p => {
            self.fetchedProducts[p.id] = p
          })
          this.parseProducts()
          self.isGeneratingIndex = false
        }
      }
      // get products from online
      let response = await api.getProductsMinimal()
      // Loop online products
      response.data.products.forEach((product) => {
        if (product.stock <= 0) {
          if (self.fetchedProducts.hasOwnProperty(product.id)) {
            productsToRemove.push(product)
          }
        } else {
          let localProduct = self.fetchedProducts.hasOwnProperty(product.id)
            ? self.fetchedProducts[product.id]
            : false
          let localUpdatedAt = localProduct
            ? new Date(localProduct.updated_at)
            : false
          let onlineUpdatedAt = new Date(product.updated_at)

          // Store product if local version doesn't exist or if online is newer
          if (!localProduct || onlineUpdatedAt > localUpdatedAt) {
            productsToUpdate.push(product.id)
          }
        }
      })

      console.log('products to updated: ' + productsToUpdate.length, JSON.stringify(productsToUpdate))
      console.log('products to remove: ' + productsToRemove.length, JSON.stringify(productsToRemove))
      // Update index
      await self.fetchProducts(productsToUpdate, productsToRemove)
      // Get rfids
      await self.fetchRFID()
      // get brands
      await self.fetchBrands()
      // get articles
      await self.fetchArticles()
      // get featured tags
      await self.fetchFeaturedTags()

      self.isGeneratingIndex = false
      // update again after certain time
      setTimeout(self.fetchData, WAIT_TIME)
    },
    /**
     * Fetch RFID from
     */
    async fetchRFID () {
      let self = this
      return new Promise((resolve, reject) => {
        RFIDRepo.index().subscribe(rfids => {
          self.setRfids(rfids)
          resolve(rfids)
        }, error => {
          console.error('ERROR ON RFIDS', error)
          resolve([])
        })
      })
    },
    /**
     * Fetch featured tags
     */
    fetchFeaturedTags: async function () {
      let self = this
      FeatureTagsTepo.index().subscribe(tags => {
        tags.map((tag) => (tag.tag)).forEach(tagName => {
          var tag = {
            name: tagName,
            products: self.filteredProducts(tagName)
          }
          if (tag.products.length > 0) {
            let exists = self.featuredTags.find((tag) => tag.name === tagName)
            if (exists) {
              return false
            } else {
              self.featuredTags.push(tag)
            }
          }
        })
      }, error => {
        console.log(error)
      })
      /* this.$http.get('tags?featured_tags=true').then(response => {
        response.data.tags.forEach(function (tagName) {
          var tag = {
            name: tagName,
            products: self.filteredProducts(tagName)
          }

          if (tag.products.length > 0) {
            self.featuredTags.push(tag)
          }
          FeatureTagsTepo.updateLocalItems(self.featuredTags)
        })
        // Fetch is done, call transition on next tick
      }).catch(async (e) => {
        console.log(e)
        // if request fails use local repo
        try {
          this.featuredTags = await FeatureTagsTepo.local.index()
        } catch (e) {
          console.log(e)
        }
        console.log('feature tags from local')
      }) */
    },
    filteredProducts: function (tag) {
      // Get products that have this tag
      var products = this.products.filter(function (product) {
        return product.tag_list.includes(tag)
      })

      // If option is enabled, put featured products on top
      return products
    },

    /**
     * Fetch store articles
     */
    fetchArticles: async function () {
      let self = this
      return new Promise((resolve, reject) => {
        ArticlesRepo.index().subscribe(articles => {
          self.articles = articles
          resolve(articles)
        }, error => {
          resolve([])
          console.error(error)
        })
      })
    },

    /**
     * Get Brands
     */
    fetchBrands: async function () {
      let self = this
      return new Promise((resolve, reject) => {
        BrandsRepo.index().subscribe(brands => {
          console.log('brands', brands)
          self.brands = brands
          self.brands.forEach(function (brand) {
          // Ignore brands with not product
            if (brand.total_products === 0) {
              brand.hasProducts = false
              return
            } else {
              brand.hasProducts = true
            }

            // Get products from this brand
            var products = self.products.filter(function (product) {
              return product.brand && product.brand.id === brand.id
            })

            if (brand.id === self.brand_Id) {
              products.forEach(p => {
                p.isFeatured = true
              })
            }

            // Check if brand has some featured products
            brand.isFeatured = products.some(function (product) {
              return product.isFeatured
            })
          })
          resolve(brands)
        }, error => {
          console.error(error)
          resolve([])
        })
      })

      /* api.getBrands({per_page: 9999}).then(response => {
        self.brands = response.data.brands
      }) */
    },

    /**
     * Get sidebar visibility
     */
    getSidebarVisibility: function () {
      if (
        this.$route.name !== 'home' ||
        this.$config.KIOSK_MODE === 'limited'
      ) {
        return true
      }

      return false
    },

    /**
     * Hold logo
     */
    logoHold: function () {
      this.startSoftRefreshCountdown()
    },

    /**
     * Release logo
     */
    logoRelease: function () {
      this.stopSoftRefreshCountdown()
    },

    /**
     * Parse fetched products
     * @param {Array} fetchedProducts Fetched products
     */
    parseProducts: function () {
      var self = this
      console.log('parsingProducts')
      // Set default
      var usedCategories = []
      var products = []
      var tags = []
      var tagsPerCategories = {}

      products = Object.values(self.fetchedProducts)/* .filter(function (product) {
        // Remove out of stock products
        return product.stock > 0
      }) */

      products.forEach(function (product, index) {
        // New category, create tags array
        if (tagsPerCategories[product.catalog_category.id] === undefined) {
          tagsPerCategories[product.catalog_category.id] = []
        }

        product.tag_list.forEach(function (tag) {
          // Retrieve catalog tags from products list
          if (!tags.includes(tag)) {
            tags.push(tag)
          }

          // Associate tags with categories
          if (!tagsPerCategories[product.catalog_category.id].includes(tag)) {
            tagsPerCategories[product.catalog_category.id].push(tag)
          }
        })

        // Set product as featured
        if (product.featured !== undefined) {
          product.isFeatured = product.featured
        } else {
          // Backward compatibility
          product.isFeatured =
            (product.rfids !== undefined && product.rfids.length > 0) ||
            (product.rfid !== undefined && product.rfid !== null) ||
            product.tag_list.includes('featured')
        }

        // Save category id
        const catIndex = usedCategories.findIndex(cat => cat.id === product.catalog_category.id)
        if (catIndex === -1) {
          usedCategories.push(product.catalog_category)
        }
      })

      /* api.getCategories().then(response => {
        this.categories = response.data.categories.filter(category => usedCategories.includes(category.id))
      }) */

      // Update values

      this.products = products
      // this.updateCurrentProduct()

      this.tags = tags
      this.tagsPerCategories = tagsPerCategories
      this.categories = usedCategories.sort((a, b) => {
        if (a.name > b.name) {
          return 1
        }
        if (a.name < b.name) {
          return -1
        }
      })
      // Set last update date
      if (products.length > 0) {
        let orderedProducts = products.sort((a, b) => {
          if (a.updated_at < b.updated_at) {
            return -1
          }
          if (a.updated_at > b.updated_at) {
            return 1
          }
          return 0
        })
        localStorage.setItem('update_date', orderedProducts[ orderedProducts.length - 1 ].updated_at)
        self.sortById()
      }
      self.isGeneratingIndex = false
    },
    /**
     * Sorts products by id
     */
    sortById: function () {
      let self = this
      self.products.sort((productA, productB) => {
        if (productA.id < productB.id) {
          return -1
        }
        if (productA.id > productB.id) {
          return 1
        }
        return 0
      })
    },

    /**
     * Set RFIDS
     */
    setRfids: function (rfids) {
      var self = this

      rfids.forEach(function (rfid) {
        self.rfidProducts[rfid.code] = {
          id: rfid.id,
          stock: rfid.stock,
          rfidEntityType: rfid.rfid_entity_type,
          rfidEntityID:
            rfid.rfid_entity_type === 'KioskProduct'
              ? rfid.product_id
              : rfid.rfid_entity_id
        }
      })

      console.log(
        'RFID markers (' +
          Object.keys(self.rfidProducts).length +
          '): ' +
          JSON.stringify(self.rfidProducts)
      )
    },

    /**
     * Start hard refresh countdown
     */
    startHardRefreshCountdown: function () {
      console.log('Start hard refresh countdown')

      this.reloadTimeout = setTimeout(function () {
        console.log('App hard refresh by user')
        caches.delete('kiosk-api-cache')
        location.reload(true)
        if (self.$gsClient) {
          self.$gsClient.track('App hard refresh by user')
        }
      }, 5000)
    },

    /**
     * Stop hard refresh countdown
     */
    stopHardRefreshCountdown: function () {
      console.log('Stop hard refresh countdown')

      clearTimeout(this.reloadTimeout)
    },

    /**
     * Start soft refresh countdown
     */
    startSoftRefreshCountdown: function () {
      console.log('Start soft refresh countdown')

      this.reloadTimeout = setTimeout(function () {
        console.log('App soft refresh by user')
        location.reload(true)
        if (self.$gsClient) {
          self.$gsClient.track('App soft refresh by user')
        }
      }, 5000)
    },

    /**
     * Stop soft refresh countdown
     */
    stopSoftRefreshCountdown: function () {
      console.log('Stop soft refresh countdown')

      clearTimeout(this.reloadTimeout)
    },

    /**
     * Global swipe event
     */
    swipeHandler: function (event) {
      console.log(event)
      if (this.$route.name === 'home') {
        this.$root.$emit('app-swipe', event)
      }
    },

    /**
     * Reset idle timeout when an action is made
     */
    idleHandler: function (resetRefresh = true) {
      clearTimeout(this.idleTimeout)
      this.idleTimeout = setTimeout(
        this.toggleIdleModal,
        this.$config.IDLE_DELAY * 1000
      )

      if (resetRefresh) {
        clearTimeout(this.refreshTimeout)
        this.refreshTimeout = setTimeout(function () {
          console.log('App soft refresh after delay')
          if (self.$gsClient) {
            self.$gsClient.track('Session ended', {
              reason: 'App soft refresh after delay.'
            })
          }
          location.reload(true)
        }, this.$config.REFRESH_DELAY * 1000)
      }
    },

    /**
     * Reset session
     */
    resetSession: function () {
      clearInterval(this.restartInterval)

      this.blockPointer(false)
      this.featuredProductsModal = false
      this.showIdleModal = false
      this.showOosModal = false
      this.cart = []
    },

    /**
     * Restart session
     */
    restartSession: function () {
      if (this.showIdleModal === true) {
        // Session is ended due to inactivity
        if (self.$gsClient) {
          self.$gsClient.track('Session ended', {
            reason: 'Session started over'
          })
        }
      }

      // Reset session values
      this.resetSession()

      // Go back to home
      this.$router.push({ name: 'home' })
    },

    /**
     * Show/hide cursor
     */
    setCursor: function () {
      if (
        window.location.href.indexOf('.com') > -1 ||
        window.location.href.indexOf('.app') > -1 ||
        window.location.href.indexOf(':8080') > -1
      ) {
        this.hideCursor = false
      }
    },

    /**
     * Show/hide background mask
     */
    showBackgroundMask: function () {
      return this.$config.KIOSK_MODE !== 'brand'
    },

    /**
     * Toggle idle modal after inactivity
     */
    toggleIdleModal: function () {
      if (
        this.isTouched ||
        this.videoPlaying > 0 ||
        (this.$route.name === 'home' && this.cart.length === 0)
      ) {
        // If screen is touched, do no show modal
        this.idleHandler(false)
      } else {
        this.showIdleModal = !this.showIdleModal

        if (this.showIdleModal === true) {
          var self = this

          self.showOosModal = false

          // Reset restart timer
          this.restartTimer = Number(this.$config.RESTART_DELAY)

          // Restart timer count down
          this.restartInterval = setInterval(function () {
            self.restartTimer--

            // Restart session when timer finishes
            if (self.restartTimer <= 0) {
              if (self.$gsClient) {
                self.$gsClient.track('Session ended', {
                  reason: 'Idle Session timeout'
                })
              }
              self.restartSession()
            }
          }, 1000)

          // GS event tracker
          if (self.$gsClient) {
            self.$gsClient.track('Show Idle Modal')
          }
        } else {
          clearInterval(this.restartInterval)
        }
      }
    },

    /**
     * Toggle ls modal
     */
    toggleLsModal: function () {
      this.showLsModal = !this.showLsModal
    },

    /**
     * Toggle oos modal
     */
    toggleOosModal: function () {
      this.showOosModal = !this.showOosModal
    },

    /**
     * Show a visual feedback when a click is made
     */
    touchFeedback: function (event) {
      var feedback = $('.touch-feedback')

      // Get touch coordinates
      var x = event.pageX
      var y = event.pageY

      feedback.css({ top: y, left: x })

      // Animate
      var tl = new TimelineLite()
      tl.pause()

      tl.fromTo(
        feedback,
        0.4,
        {
          scale: 0
        },
        {
          scale: 1
        },
        0
      )

      tl.fromTo(
        feedback,
        0.2,
        {
          alpha: 1
        },
        {
          alpha: 0
        },
        0.2
      )

      tl.call(function () {
        tl.kill()

        tl = null
        feedback = null
      })

      tl.play()
    }
  }
}
</script>

<style scoped lang="scss">
.app {
  position: relative;
  width: 100%;
  height: 100%;

  &.hide-cursor * {
    cursor: url('~@/assets/img/cursor.png'), none !important;
  }

  &--tablet {
    font-size: 24px;
  }
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  &__media {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: 1;
  }
}

.view-container {
  position: relative;
  width: 100%;
  height: 100%;

  background: rgba($bluecharcoal, 0.5);
  z-index: 2;

  &--with-mask {
    background: rgba($bluecharcoal, 0.95);
  }
}

.idle-modal {
  text-align: center;

  &__title {
    margin: 0;

    font: 2.5em/1 var(--font-extralight);
  }

  &__actions {
    display: flex;
    margin: 2em 0 1em;
    position: relative;

    flex-direction: row;
    justify-content: center;

    @at-root .app--tablet & {
      font-size: 1.2em;
    }
  }

  &__button {
    margin: 0 0 0 1.67em;
    position: relative;
    width: 16.67em;
    height: 4.17em;

    background: none;
    border: none;
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.2s linear;

    color: $white;
    font: 0.6em/4.17em var(--font-extrabold);
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;

    &__text {
      display: block;
      position: relative;

      z-index: 2;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background: var(--main-color);
      border-radius: 2.08em;
      transform: translate3d(-50%, 0, 0);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__timer {
    color: rgba($white, 0.3);
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    @at-root .app--tablet & {
      font-family: var(--font-bold);
      font-size: 0.8em;
    }

    b {
      color: $white;
      font-weight: normal;
    }
  }
}

/deep/ .idle-modal .modal-container {
  width: 600px;
}

.oos-modal,
.ls-modal {
  text-align: center;

  &__title {
    margin: 0;

    font: 2.5em/1 var(--font-extralight);
  }

  &__text {
    margin: 20px 0;
  }

  &__actions {
    display: flex;
    margin: 2em 0 0;
    position: relative;

    flex-direction: row;
    justify-content: center;

    @at-root .app--tablet & {
      font-size: 1.2em;
    }
  }

  &__button {
    margin: 0 0 0 1.67em;
    position: relative;
    width: 16.67em;
    height: 4.17em;

    background: none;
    border: none;
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.2s linear;

    color: $white;
    font: 0.6em/4.17em var(--font-extrabold);
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;

    &__text {
      display: block;
      position: relative;

      z-index: 2;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background: var(--main-color);
      border-radius: 2.08em;
      transform: translate3d(-50%, 0, 0);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

/deep/ .oos-modal .modal-container,
/deep/ .ls-modal .modal-container {
  width: 600px;
}

.touch-feedback {
  position: fixed;
  top: -80px;
  left: -80px;

  pointer-events: none;
  z-index: 9999;

  &:before {
    display: block;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;

    background: rgba($white, 0.2);
    border-radius: 50%;
    content: '';
  }
}

.link-offline {
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 24px;
  height: 24px;

  background-image: url('~@/assets/img/icon-offline.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  z-index: 20;

  text-indent: -999em;
}

.license-number {
  position: fixed;
  bottom: 15px;
  left: 30px;

  opacity: 0.4;
  z-index: 4;

  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
}

.copyright {
  position: fixed;
  bottom: 5px;
  right: 10px;

  opacity: 0.4;
  z-index: 4;

  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;

  @at-root .app--tablet & {
    bottom: 15px;
    right: 20px;

    font-size: 13px;
  }

  &__logo {
    display: inline-block;
    margin: -28px 0 0 5px;
    width: 60px;
    height: auto;

    cursor: pointer;
    vertical-align: top;

    @at-root .app--tablet & {
      margin-top: -38px;
      width: 80px;
    }
  }

  &.is-offline {
    right: 60px;
  }
}

.block-pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: red;
  opacity: 0;
  z-index: 99999;
}

.copyright {
  &.glowing {
    animation: glow 1s linear infinite;
  }
}

@keyframes glow {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
</style>
